.account-signout:hover {
    text-decoration: underline;
    color: rgb(85, 85, 255)
}

.account-container > ul:hover {
    color: rgb(85, 85, 255);
    text-decoration: underline;
}

.your-account {
    display: flex;
    justify-content: center;
}


.account-container {
    padding: 5%;
}

.account-container > ul {
    padding: 5%;
}