

.no-user-cart {
    font-family: Apercu Pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 5%;
    border-bottom: 1px solid lightgray;

}

.no-user-header {
    margin-left: 20%;

}

.create-account-button-cart {
    margin-left: 24px;
    display: flex; 
    justify-content: center;
    cursor: pointer;
}

  .create-account-button-cart:hover {
        color: rgb(85, 85, 255);
    }

    .glogo {
        height: 100px;
        width: 100px;
        margin-left: 40%;
    }

    .bottom-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 250px;
    }