
.logo {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.main-header {
    padding: 10px 0;
    font-family: Apercu Pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #000;
    line-height: 1.5;
}


i.far.fa-user {
    color: black;
    height: 5px;
    width: 5px;
    cursor: pointer;
}
