
.glossier {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}



.main-header {
    font-family: Apercu Pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 100%;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
    border-bottom: .5px solid lightgray;
    z-index: 1;

}

.top-header {
    font-weight: 400;
    font-size: 100%;
    color: #000;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}

.right-nav {
    display: flex;
    margin-right: 75px;
    
    .fas.fa-shopping-cart:hover {
       cursor: pointer;
    }
}   


.bottom-header {
    display: flex;
    justify-content: space-between;
    margin-left: 38%;
    margin-right: 38%;
    margin-bottom: 1%;

}


.shop-all:hover, .skincare:hover, .makeup:hover, .body:hover {
    display: flex;
    justify-content: space-between;
    color: rgb(85, 85, 255)
}

i.far.fa-user {
    padding: 0px 4px;
    cursor: pointer;
    height: 50px;
    margin-right: 15px;
}

i.fas.fa-search {
    margin-left: 75px;
    cursor: pointer;
  
}

i.far.fa-user:hover, .close-x:hover, .fas.fa-search:hover, .fas.fa-shopping-cart:hover {
    color: rgb(85, 85, 255)
}

