
 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
    background-color: white;
    position: fixed;
    margin: auto;
    width: 28%;
    height: 100%;
    right: 0px;
    font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
 }

 .close-x {
   position: absolute;
   top: 5px;
   left: 5px;
   cursor: pointer;
  //  padding: 5%;
 }

 .account-signout {
   cursor: pointer;
 }

 

