.product-show {
    margin-top: 150px;
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    max-height: 70%;
    font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.product-show-text {

    max-width: 50%;
    max-height: 100%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

    .product-show-details {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 4%;
    }

    .product-show-whyspecial{
        line-height: 1.5;
        font-weight: 400;
    }
    

.why {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.1px;

 }

.product-show-image {
    img {

        max-height: 100%;
        max-width: 90%;
    }
}



.product-show-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1%;
}

.product-show-description {
    font-weight: 400;
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin-bottom: 5%;
}

.product-show-price {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3%;
    margin-top: 1%;
    margin-left: 4%;
    width: 85%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.product-show-price:hover {
    background-color: rgb(118, 118, 118);
}