.products {
    margin-top: 15%;
}

.products > h1 {
    font-size: 30px;
    font-weight: bold;
}

.product-index-title:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(85, 85, 255)
}

.product-index-title {
    font-weight: bold;
}
