


.product-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
    font-family: Apercu Pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-left: 3%;
    font-size: 24px;
}

.product-index-description {
    font-weight: normal;
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.product-index-image {
    height: 372px;
    width: 270px;
}

.product-index-title {
    font-weight: bold;
    margin-left: 4%;
    font-size: 16px;
}

.product-index-title:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(85, 85, 255)
}

.product-index {
    background-color: rgb(247, 247, 247);
    margin: 1%;
}

.products {
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    font-family: Apercu Pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
    justify-content: center;
}

.product-index-info {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.product-index-price {
    border: .5px solid lightgray;
    background-color: white;
    border-radius: 5px;
    padding: 3%;
    margin-top: 1%;
    margin-left: 4%;
    width: 85%;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.product-index-price:hover {
    border: .5px solid black;
}



