
.no-results-main {
    margin-top: 10%;
    margin-left: 6%;
}

.no-results {
    font-weight: 400;
    font-family: "Freight Display", Athelas, Constantias, Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    line-height: 32px;
}

.popular-search {
      font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgb(85, 85, 85);
        margin-top: 24px;
      font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.search-examples {
    margin-top: 8px;
      font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
