
.g-png {
    width: 150px; 
    height: 150px;
    margin-top: 175px;
    margin-left: 73%;
    // border: 1px solid black;
    position: absolute;
}

.right-hero {
    margin-left: 2%
}

.hero-images {
    display: flex;
    width: 35%;
    margin-left: 8%;
    height: 850px;
}

.hero {
    display: flex;
    font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
   padding-top: 50px;
}

.boy-brow-copy {
    font-size: 48px;
    line-height: 48px;
    width: 250px;
    margin-top: 350px;
    margin-bottom: 30px;
    margin-left: 210%;

    font-weight: bold;
    // border: 1px solid black;
    
    
}

.boy-brow-shop-now {
    color: white;
    background-color: black;
    width: 240px;
    padding: 9%;
    display: flex; 
    cursor: pointer;
    border-radius: 5%;
    margin-left: 215%;
    // margin-right: 100%;
    justify-content: center;
    
}

.boy-brow-shop-now:hover {
    text-decoration: none;
    color: white;
}

.pink-masthead {
    margin-top: 60px;
    padding: 3%;
    background-color: rgb(250, 242, 244);
    font-family: "Freight Display", Athelas, Constantias, Georgia, Times, "Times New Roman", serif;
    font-weight: 300;
   
}

.pink-masthead > h1 {
    font-size: 36px;
    line-height: 40px;
}

// .pink-masthead > h3 {

// }

