
.g-png {
    width: 12%; 
    height: 12%;
    margin-top: 150px;
    margin-left: 24%;
}

.right-hero {
    margin-left: 2%
}

.hero-images {
    display: flex;
    width: 30%;
    margin-left: 10%;
    height: 850px;
}

.hero {
    display: flex;
    font-family: "Apercu Pro", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
   
}

.boy-brow-copy {
    font-size: 40px;
    width: 63%;
    margin-top: 350px;
    // border: 1px solid black;
    
}

.boy-brow-shop-now {
    color: white;
    background-color: black;
    width: 200px;
    padding: 8%;
    display: flex; 
    cursor: pointer;
    border-radius: 5%;
    justify-content: center;
}

