
.g-png {
    width: 15%; 
    height: 15%;
    margin-top: 13%;
    margin-left: 23%;
}

.right-hero {
    margin-left: 2%
}

.hero-images {
    display: flex;
    width: 30%;
    margin-left: 15%;
}

.hero {
    display: flex;
   
}